Repository JereUR/filmbook: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, npm prisma format

.lintstagedrc:

{
  "*.{ts,tsx}": ["npm run lint", "npm run format"],
  "*.prisma": ["npm prisma format"]
}

feat: Grilla de 4 en pantalla grande
  src/app/(main)/nominaciones-golden-globe/GoldenGlobeNominationsMovies.tsx
  src/app/(main)/nominaciones-golden-globe/GoldenGlobeNominationsPersons.tsx
  src/app/(main)/nominaciones-golden-globe/GoldenGlobeNominationsSong.tsx
Due: npm run lint, npm run format

feat: Texto de titulo agrandado
  src/app/(main)/nominaciones-golden-globe/GoldenGlobeNominationsMovies.tsx
  src/app/(main)/nominaciones-golden-globe/GoldenGlobeNominationsPersons.tsx
  src/app/(main)/nominaciones-golden-globe/GoldenGlobeNominationsSong.tsx
Due: npm run lint, npm run format

feat: Abrir nueva pestaña con pagina de la pelicula al hacer click en foto en modelo responsive
  src/app/(main)/nominaciones-golden-globe/GoldenGlobeNominationsMovies.tsx
Due: npm run lint, npm run format

feat: Hook para detectar pantallas pequeñas
  src/hooks/useIsMobile.ts
Due: npm run lint, npm run format

feat: Loader/skeletons updated
  src/app/(main)/FollowingFeed.tsx
  src/app/(main)/ForYouFeed.tsx
  src/app/(main)/buscar/SearchResults.tsx
  src/app/(main)/marcadores/Bookmarks.tsx
  src/app/(main)/marcadores/Watchlist.tsx
  src/app/(main)/nominaciones-golden-globe/loading.tsx
  src/app/(main)/nominaciones-golden-globe/page.tsx
  src/app/(main)/notificaciones/Notifications.tsx
  src/app/(main)/usuarios/[username]/UserPosts.tsx
  src/app/loading.tsx
  src/components/golgen-globe/GoldenGlobeNominationsMovies.tsx
  src/components/golgen-globe/GoldenGlobeNominationsPersons.tsx
  src/components/golgen-globe/GoldenGlobeNominationsSong.tsx
  src/components/golgen-globe/NomineesPage.tsx
  src/components/skeletons/DiariesLoadingSkeleton.tsx
  src/components/skeletons/GoldenGlobeNominationsSkeleton.tsx
  src/components/skeletons/HeaderSkeleton.tsx
  src/components/skeletons/HomeSkeleton.tsx
  src/components/skeletons/LeftSideSkeleton.tsx
  src/components/skeletons/PostsLoadingSkeleton.tsx
  src/components/skeletons/ReviewsLoadingSkeleton.tsx
  src/components/skeletons/TournamentsLoadingSkeleton.tsx
  src/components/skeletons/TrendSidebarSkeleton.tsx
  src/components/skeletons/WatchlistLoadingSkeleton.tsx
  src/components/tournaments/TournamentsList.tsx
  src/components/tournaments/dates/AddDateToTournamentDialog.tsx
  src/components/tournaments/dates/EditDateToTournamentDialog.tsx
  src/components/tournaments/dates/SearchMovieForDate.tsx
  src/components/user/lists/diary/UserDiariesList.tsx
  src/components/user/lists/review/UserReviewsList.tsx
Due: npm run lint, npm run format

feat: Loader/skeletons updated
  src/app/(main)/page.tsx
  src/app/layout.tsx
Due: npm run lint, npm run format

fix: Espacios arreglados
  src/app/(main)/page.tsx
Due: npm run lint, npm run format

feat: Atributo providers agregado a los nominados
  src/lib/types.ts
Due: npm run lint, npm run format

feat: Mostrar si existe las plataformas donde se encuentra disponible la pelicula
  src/components/golgen-globe/GoldenGlobeNominationsMovies.tsx
  src/components/golgen-globe/GoldenGlobeNominationsPersons.tsx
  src/components/golgen-globe/GoldenGlobeNominationsSong.tsx
Due: npm run lint, npm run format

feat: Providers agregados
  src/data/golden-globes-nominations/best-actor-musical-comedy.json
  src/data/golden-globes-nominations/best-actress-musical-comedy.json
  src/data/golden-globes-nominations/best-animated-film.json
  src/data/golden-globes-nominations/best-director.json
  src/data/golden-globes-nominations/best-drama-film.json
  src/data/golden-globes-nominations/best-foreign-language-film.json
  src/data/golden-globes-nominations/best-movie-actor-drama.json
  src/data/golden-globes-nominations/best-movie-actress-drama.json
  src/data/golden-globes-nominations/best-musical-comedy-film.json
  src/data/golden-globes-nominations/best-original-score.json
  src/data/golden-globes-nominations/best-original-song.json
  src/data/golden-globes-nominations/best-screenplay.json
  src/data/golden-globes-nominations/best-supporting-actor.json
  src/data/golden-globes-nominations/best-supporting-actress.json
  src/data/golden-globes-nominations/film-and-box-office-achievements.json
Due: none

feat: Rating actualizado
  src/data/golden-globes-nominations/best-animated-film.json
  src/data/golden-globes-nominations/best-drama-film.json
  src/data/golden-globes-nominations/best-foreign-language-film.json
  src/data/golden-globes-nominations/best-musical-comedy-film.json
  src/data/golden-globes-nominations/film-and-box-office-achievements.json
Due: none

feat: SWR instalado
  package-lock.json
  package.json
Due: none

feat: No mostrar 'popular movies' en vista de mensajes y cambio de estructura para el mismo
  src/app/(main)/ConditionalPopularMovies.tsx
  src/app/(main)/PopularMovies.tsx
  src/app/(main)/layout.tsx
  src/app/api/tmdb/popular-movies/route.ts
  src/hooks/usePopularMovies.ts
  src/lib/tmdb.ts
Due: npm run lint, npm run format

feat: Cambios en sintaxis
  src/app/(main)/mensajes/Chat.tsx
  src/app/(main)/mensajes/ChatChannel.tsx
  src/app/(main)/mensajes/ChatSidebar.tsx
Due: npm run lint, npm run format

feat: Skeleton para seccion de popular movies
  src/components/skeletons/PopularMoviesSkeleton.tsx
Due: npm run lint, npm run format

feat: Hacer que si son mas de un director se vea mejor, sin tanto gap entre ellos
  src/components/movies/CrewMemberShow.tsx
  src/components/movies/TitleSection.tsx
Due: npm run lint, npm run format

feat: Images unoptimized en true
  next.config.mjs
Due: none

feat: Rollback
  next.config.mjs
Due: none

feat: Modificaciones en proveedores actualizadas
  src/components/golgen-globe/GoldenGlobeNominationsMovies.tsx
  src/components/golgen-globe/GoldenGlobeNominationsPersons.tsx
  src/components/golgen-globe/GoldenGlobeNominationsSong.tsx
  src/data/golden-globes-nominations/best-animated-film.json
Due: npm run lint, npm run format

feat: Ganadores agregados
  src/data/golden-globes-nominations/best-actor-musical-comedy.json
  src/data/golden-globes-nominations/best-actress-musical-comedy.json
  src/data/golden-globes-nominations/best-animated-film.json
  src/data/golden-globes-nominations/best-director.json
  src/data/golden-globes-nominations/best-drama-film.json
  src/data/golden-globes-nominations/best-foreign-language-film.json
  src/data/golden-globes-nominations/best-movie-actor-drama.json
  src/data/golden-globes-nominations/best-movie-actress-drama.json
  src/data/golden-globes-nominations/best-musical-comedy-film.json
  src/data/golden-globes-nominations/best-original-score.json
  src/data/golden-globes-nominations/best-original-song.json
  src/data/golden-globes-nominations/best-screenplay.json
  src/data/golden-globes-nominations/best-supporting-actor.json
  src/data/golden-globes-nominations/best-supporting-actress.json
  src/data/golden-globes-nominations/film-and-box-office-achievements.json
Due: none

feat: Estilos para ganadores actualizados
  src/app/globals.css
  src/components/golgen-globe/GoldenGlobeNominationsMovies.tsx
  src/components/golgen-globe/GoldenGlobeNominationsPersons.tsx
  src/components/golgen-globe/GoldenGlobeNominationsSong.tsx
Due: npm run lint, npm run format

fix: Icono alineado
  src/components/golgen-globe/GoldenGlobeNominationsPersons.tsx
  src/components/golgen-globe/GoldenGlobeNominationsSong.tsx
Due: npm run lint, npm run format

feat: Hacer global componentes de nominaciones
  src/app/(main)/nominaciones-golden-globe/page.tsx
  src/app/(main)/nominaciones-golden-globes/loading.tsx
  src/app/(main)/nominaciones-golden-globes/page.tsx
  src/app/(main)/page.tsx
  src/components/TrendsSidebar.tsx
  src/components/golgen-globes/NominationsMovies.tsx
  src/components/golgen-globes/NominationsPersons.tsx
  src/components/golgen-globes/NominationsSong.tsx
  src/components/golgen-globes/NomineesPageGoldenGlobes.tsx
Due: npm run lint, npm run format

feat: Archivos moidos de carpeta y title cambiado
  src/app/(main)/nominaciones-golden-globes/page.tsx
  src/components/awards/NominationsMovies.tsx
  src/components/awards/NominationsPersons.tsx
  src/components/awards/NominationsSong.tsx
  src/components/awards/NomineesPageGoldenGlobes.tsx
Due: npm run lint, npm run format

feat: Seccion de nominados a los Oscars agregado
  next.config.mjs
  public/janty-yates-dave-crossman.png
  src/app/(main)/nominaciones-oscars/loading.tsx
  src/app/(main)/nominaciones-oscars/page.tsx
  src/app/(main)/page.tsx
  src/assets/Oscars2025.jpg
  src/components/TrendsSidebar.tsx
  src/components/awards/NominationsMovies.tsx
  src/components/awards/NominationsPersons.tsx
  src/components/awards/NominationsSong.tsx
  src/components/awards/NomineesPageOscars.tsx
  src/data/oscars-nominations/actor-leading-role.json
  src/data/oscars-nominations/actor-supporting-role.json
  src/data/oscars-nominations/actrees-supporting-role.json
  src/data/oscars-nominations/actress-leading-role.json
  src/data/oscars-nominations/animated-feature-film.json
  src/data/oscars-nominations/animated-short-film.json
  src/data/oscars-nominations/best-picture.json
  src/data/oscars-nominations/cinematography.json
  src/data/oscars-nominations/costume-design.json
  src/data/oscars-nominations/directing.json
  src/data/oscars-nominations/documentary-feature-film.json
  src/data/oscars-nominations/documentary-short-film.json
  src/data/oscars-nominations/film-editing.json
  src/data/oscars-nominations/international-feature-film.json
  src/data/oscars-nominations/live-action-short-film.json
  src/data/oscars-nominations/makeup-and-hairstyling.json
  src/data/oscars-nominations/original-score.json
  src/data/oscars-nominations/original-song.json
  src/data/oscars-nominations/production-design.json
  src/data/oscars-nominations/sound.json
  src/data/oscars-nominations/visual-effects.json
  src/data/oscars-nominations/writing-adapted-screenplay.json
  src/data/oscars-nominations/writing-original-screenplay.json
  src/hooks/useOscarsNominees.ts
  src/lib/types.ts
Due: npm run lint, npm run format

feat: Titulo actualizado
  src/components/awards/NomineesPageOscars.tsx
Due: npm run lint, npm run format

feat: Estilos actualizados
  src/components/awards/NominationsMovies.tsx
  src/components/awards/NominationsPersons.tsx
  src/components/awards/NominationsSong.tsx
Due: npm run lint, npm run format

feat: Vercel analytics instalado y configurado
  package-lock.json
  package.json
  src/app/layout.tsx
Due: npm run lint, npm run format

feat: Modelados para manejo de predicciones agregado
  prisma/schema.prisma
Due: npm prisma format

Actualizar useOscarsNominees.ts
  src/hooks/useOscarsNominees.ts
Due: npm run lint, npm run format

fix: Data corregida
  src/data/oscars-nominations/actress-supporting-role.json
  src/data/oscars-nominations/production-design.json
  src/hooks/useOscarsNominees.ts
Due: npm run lint, npm run format

feat: Modelado para funcion de predicciones de premios agregados
  prisma/schema.prisma
Due: npm prisma format

feat: Propiedad name agregada a fecha y darle prioridad a mostrar esta en vez de date
  prisma/schema.prisma
  src/app/api/tournaments/[tournamentId]/dates/route.ts
  src/app/api/tournaments/[tournamentId]/route.ts
  src/app/api/tournaments/dates/[id]/route.ts
  src/app/api/tournaments/dates/add/route.ts
  src/app/api/tournaments/dates/edit/route.ts
  src/app/api/tournaments/participants/[participantId]/tournaments/route.ts
  src/components/tournaments/DateItem.tsx
  src/components/tournaments/dates/AddDateToTournamentDialog.tsx
  src/components/tournaments/dates/EditDateToTournamentDialog.tsx
  src/components/tournaments/points/editor/TournamentParticipantPopovers.tsx
  src/lib/types.ts
Due: npm run lint, npm run format, npm prisma format

feat: Data corregida
  src/data/oscars-nominations/original-score.json
  src/data/oscars-nominations/writing-adapted-screenplay.json
Due: none

feat: Mostrar primero name si existe
  src/components/tournaments/dates/DatesPopover.tsx
Due: npm run lint, npm run format

feat: Page de 'mis predicciones' agregada
  src/app/(main)/mis-predicciones/page.tsx
Due: npm run lint, npm run format

feat: Configuracion para manejo de imagenes
  next.config.mjs
Due: none

feat: Page para setear predcciones agregada
  src/app/(main)/nominaciones-oscars/mis-predicciones/page.tsx
Due: npm run lint, npm run format

feat: Formulario para predicciones agregado
  src/app/(main)/nominaciones-oscars/mis-predicciones/PredictionForm.tsx
Due: npm run lint, npm run format
